---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
			<main class="container">
				<section class="hero">
					<h1>👋 Holla, Visitor!</h1>
					<p>
						Welcome to the <strong>NeaByteLab</strong> website, a simple site built with Astro JS.
					</p>
					<p>
						NeaByteLab is my personal initiative, where I focus on creating high-performance tools, experimenting with innovative technologies, and delivering solutions that solve real-world problems. The work spans software engineering, automation, trading systems, and cybersecurity — all with a strong emphasis on clean, efficient, and scalable development.
					</p>
					<p>
						The core mission of NeaByteLab is to share knowledge and technology through open-source projects. From developer utilities and API services to static site generators and security tools, every project reflects a commitment to quality, accessibility, and continuous learning.
					</p>
					<p>
						My vision is to build technology that not only pushes boundaries but also inspires others to learn, contribute, and innovate. I believe that collaboration and transparency are key to meaningful progress in the tech community.
					</p>
					<p>
						While this site itself contains no content or projects at the moment, you can explore everything I’m building and contributing to on GitHub.  
					</p>
					<p>
						👉 <a href="https://github.com/NeaByteLab" target="_blank" rel="noopener">Visit my GitHub to explore my work</a>.
					</p>
				</section>
			</main>
    <Footer />
  </body>
</html>
